<div class="row">
    {% for card in 0..10 %}
        <div class="col-md-1">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Card image cap" src="{{ asset('images/as_spades.png') }}">
            </div>
        </div>
    {% endfor %}
</div>